<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>fail</title>
    </head>
    <body>
        <style>
           
            .container{
               
               
                background-color: darkgoldenrod;
                color: cornsilk;
                padding: 30px;
                
            }
        </style>
        <div class="container">
            다시 확인해주세요.
        </div>
    </body>
</html>